
  
  #page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    margin-right: 0.3em;
    color: rgb(60, 74, 158);
    user-select: none;
    cursor: pointer;
  }
  
  .grey-background {
    background-color: #F8F8F8;
    z-index: -100;
  }

  .loginimage {
    height: 100%;
    width: 100%;
  }